<div class="sidebar-footer hidden-small">
  <a data-toggle="tooltip" data-placement="top" title="Settings">
    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
  </a>
  <a data-toggle="tooltip" data-placement="top" title="FullScreen">
    <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
  </a>
  <a data-toggle="tooltip" data-placement="top" title="Lock">
    <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
  </a>
  <%= link_to('<span class="glyphicon glyphicon-off" aria-hidden="true"></span>'.html_safe, destroy_user_session_path, :method => :delete, class: "logout", title: "Log Out", data: { toggle: 'tooltip', placement: 'top'}) %>
</div>